#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

main {
  max-width: 450px;
  margin: 0 auth;
}

button, input, .card-style {
  border-radius: 5px;
  border: solid 1px lightblue;
  padding: 5 px;
}

